<div id="imageWrapper">
    <div id="titled">
        <h1>{{title}}</h1>
    </div>
    <div id="button-check">
        <div id="wrapper-text">
            <a href="/movies">Check the movies</a>
        </div>
    </div>
</div>