
  <div class="bg container">
    <h1>Cinema</h1>
    <h1>Ironhack</h1>
    <form action="/movies" method="post">
      <button type="submit" id="check">Check the movies</button>
    </form>
  </div>
