{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="contain-index">
  <div class="elements-index">
    <h1>Cinema<br>Ironhack <br>
      <a href="/movies"><button class="button-movies">Check the movies!</button></a>
    </h1>
  </div>

</div>