<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- 
 <form action="/" method="GET">
  <button type="submit">Check the movies</button>
 </form> --}}
 <section class="index">
   <p class="index__title">Cinema Ironhack</p>
   <a href="/movies" class="index__btn">Check the movies!</a>
 </section>