<div>
  <img src="/images/cinema.jpg" alt="">
</div>
<div>
  <h1>Cinema Ironhack</h1>
  <button class="butn" type="button" onclick="window.location.href='/movies'">
    Check the movies
  </button>

</div>