<div class="body-wrap">
    <div class="body-wrap-container">
        <h1>Cheetah</h1>
        <p>Cat ipsum dolor sit amet, jaguar and leopard for turkish angora. Cougar thai persian cornish rex tomcat.
            Tiger
            bobcat mouser sphynx puma kitten tabby. Bobcat jaguar cornish rex american bobtail but egyptian mau
            norwegian
            forest so kitten. Tom bengal. Cheetah turkish angora siberian. Munchkin. Ocelot donskoy birman for donskoy
            for
            malkin. Russian blue kitty. Singapura manx and american bobtail and ocicat, siamese. Tabby siamese but lynx.
            Ragdoll havana brown. Bombay mouser but egyptian mau or balinese balinese yet scottish fold. Maine coon
            british
            shorthair yet himalayan tabby, cornish rex. Malkin. Himalayan siberian but american bobtail cougar havana
            brown
            for tiger. </p>

        <a class="body-button" href="/movies">Check the kitties!</a>
    </div>
</div>