<div class="titleMovies">
<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes</h2>
</div>
<section class="movies">  
  {{#each movies}}
    <div>
      <img src="{{this.image}}" alt="{{this.tittle}}">
      <h3>{{this.title}}</h3>
      <a class="seeMore" href="/movie/{{this._id}}">See more</a>
      </div>     
    {{/each}}
  </div>
</section>