<section class="movies">
  <article class="movies__container">
    <h1 class="movies__title">Ironhack Cinema</h1>
    <h2 class="movies__subtitle">Clickon the movies to check the showtimes!</h2>
    <a class="btn" href="">See more</a>
  </article>
</section>