body {
  /*padding: 50px;*/
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
  margin: 0;
}
li{
  list-style: none;
}
a {
  color: #00B7FF;
}
.h3-title{
  margin-left: 3%;
  font-size: 30px;
}
.subtitle{
  margin-left: 3%;
  font-size: 15px;
  font-weight: 600;
}


.body-index{
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url('/images/cinema.jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
  color: white;
}

.title-container{
  width: 40%;
  padding-left: 60%;
  padding-top: 10%;
}
.title-container h1{
  font-size: 7em;
  margin-bottom: 30px;
}
.title-container a{
  text-decoration: none;
  padding-left: 30px;
  padding: 15px 50px 15px 50px;
  border-radius: 50px;
  background-color: white;
}
.movies-container {
  width: 100%;
  margin: 40px;
  display:flex;
  flex-wrap: wrap;
}
.movie-container{
  width: 30%;
  margin: 0 10px;
  padding-bottom: 30px
}
.movie-container img{
  margin-left: 30%;
}
.movie-text{
  text-align: center;
}
