body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#imageWrapper {
  width: 100%;
  height: 100vh;
  background: url("../images/cinema.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#titled {
  width: 33%;
  display: block;
  margin-right: 10%;
}

#titled h1 {
  font-size: 8em;
  color: white;
  margin: 0;
}

#button-check {
  display: inline-block;
  width: 19%;
  height: 4em;
  background: whitesmoke;
  border-radius: 25px;
  margin: 10% 15%;
}

#wrapper-text {
  display: block;
  width: 100%;
  padding: 0 auto;
  margin-bottom: 10%;
}

a,
a:visited {
  font-size: 1.6em;
  display: block;
  color: #00b7ff;
  margin: 7% 12%;
  text-decoration: none;
}

h1 {
  color: black;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.wrap-movie {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 1%;
}

.moviecard {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 0 2%;
  justify-content: center;
  text-align: center;
}
.moviecard h4 {
  margin: 2% 0;
}

.moviecard a {
  text-align: center;
  margin: 2% 0 16% 0;
  font-size:1em;
}

.detail-container {
  width: 100%;
}
