html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sectionIndex {
    display: flex;
    justify-content: flex-end;
    background-image: url('../images/cinema.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.checkMovies {
    color: #00B7FF;
    text-decoration: none;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    width: 250px;
    font-size: 1.3em;
    text-align: center;
}

.section {
    width: 40%;
    margin-right: 7%;
}

.container {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cinemaIronhack {
    color: white;
    font-size: 7em;
    text-align: center;
    margin: 60px 0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
}

.seeMore {
    color: #00B7FF;
    text-decoration: none;
    text-align: center;
}

.movies div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 24px;
    width: 200px;
}

.titleMovies {
    margin: 50px;
}