body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.index {  
  background-image: url("/images/cinema.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #FCFCFC;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
}

.index a {
  background-color: #FCFCFC;
  color: rgb(98, 151, 172);
  border: none;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 1.2em;
  font-weight: 600;
  width: 200px;
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
}

.index h1 {
  font-size: 7.5em;
  color: #FCFCFC;
  width: 30%;
  margin: 125px 150px 0 0;
}

.movies, .movie{

  margin: 0;
  padding: 50px;

}

.movies h1{
  margin-top: 30px;
}
ul{
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.movies p{
  text-align: center;
}

.movies a{
  display: block;
  text-align: center;
}

.movies li{
  margin: 40px;
}

.back-button{
  display: inline;
  border-radius: 50px;
  padding: 10px;
  background-color: rgb(33, 47, 83);
  text-decoration: none;
  font-size: 16px;
  color: white;
  width: 100px;
  text-align: center;
  box-shadow: 0px 5px 13px -4px rgba(17, 17, 17, 0.64);
}

.movie{
  display: flex;
  justify-content: center;
}

.button{
  margin: 50px;
}
.movie-section{
  display: flex;
  width: 60%;
}
.movie-text{
  padding: 20px;
}

.movie .back-button{
  margin: 20px;
}